<div class="container mx-auto p-6">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg p-6 mb-8">
            <h2 class="text-2xl font-bold mb-4">Edit Article</h2>
            <%= render "form", article: @article %>  
    </div>
</div>
